<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between start">

    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
            <md-icon md-font-icon="icon-home" class="icon"></md-icon>
        </span>
        <span class="logo-text">Residents</span>
    </div>

    <div class="logo" layout="row" layout-align="space-between center">
      <span class="logo-icon">
          <md-icon md-font-icon="icon-account-plus" class="icon"></md-icon>
      </span>
      <md-button class="md-raised" aria-label="compose"
                 ng-click="vm.composeDialog($event)" >Add Resident
      </md-button>
    </div>


</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content ms-scroll class="content" flex>

    <div class="navigation-simple" layout="column">
        <md-button ng-click="vm.switchCategory(category)" ng-class="vm.selectedCategory == category ? 'md-raised md-primary' : 'md-primary'" class="item" aria-label="inbox" ng-repeat="category in vm.categoryList">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-inbox" class="s16"></md-icon>
                <span class="title" flex>{{ category }}</span>
            </div>
        </md-button>

    </div>

</md-content>
<!-- / SIDENAV CONTENT -->
