<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>

  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">Appointment Information</h2>
            </div>
            <div class="panel-body">
              <p>
                Reason:
                <span class="pull-right">{{ vm.data.appointment.reason }}</span>
              </p>
              <p>
                Resident Going:
                <span class="pull-right">{{ vm.data.appointment.residentGoing }}</span>
              </p>
              <p ng-repeat="spot in vm.data.appointment.location">
                Location:
                <span class="pull-right">{{ spot.name }}</span>
              </p>
              <p>
                Time:
                <span class="pull-right">{{ vm.data.appointment.time | date : 'h:mm a, MMMM d' }}</span>
              </p>
              <p>
                Transportation:
                <span class="pull-right">{{ vm.data.appointment.transportation }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 appointment-map">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">Location Information</h2>
            </div>
            <div class="panel-body">
              <p ng-repeat="spot in vm.data.appointment.location">
                Name:
                <span class="pull-right">{{ spot.name }}</span>
              </p>
              <p ng-repeat="spot in vm.data.appointment.location">
                Doctor:
                <span class="pull-right">{{ spot.doctor }}</span>
              </p>
              <p ng-repeat="spot in vm.data.appointment.location">
                Phone Number:
                <span class="pull-right">{{ spot.phoneNumber }}</span>
              </p>
              <p ng-repeat="spot in vm.data.appointment.location">
                Address:
                <span class="pull-right">{{ spot.address }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">Submit Information</h2>
            </div>
            <div class="panel-body">
              <p>
                Submitted By:
                <span class="pull-right">{{ vm.data.appointment.submitBy }}</span>
              </p>
              <p>
                Submitted Time:
                <span class="pull-right">{{ vm.data.appointment.submitDate | date : 'h:mm a, MMMM d' }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer-generic></footer-generic>
</div>
