<!-- form group for the food allergies-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Food Allergy</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.foodAllergies" placeholder="">
    </div>
</div>

<!-- form group for the medication allergies-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Medication Allergy</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.medicationAllergies" placeholder="">
    </div>
</div>
