
<!-- form group for the type of bath-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Type of Bathing</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.typeOfBathing" placeholder="">
    </div>
</div>

<!-- form group for the time of bath-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Time of Bathing</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.timeOfBathing" placeholder="">
    </div>
</div>

<!-- form group for the frequency of bath-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Frequency of Bathing</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.frequencyOfBathing" placeholder="">
    </div>
</div>

<!-- form group for the acceptance of bath-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Acceptance of Bathing</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.acceptanceOfBathing" placeholder="">
    </div>
</div>
