<h3>Continent</h3>

<!-- form group for the bowel continent-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Bowel Continent</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.bowelContinent" placeholder="">
    </div>
</div>

<!-- form group for the constipated-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Constipated</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.constipated" placeholder="">
    </div>
</div>

<!-- form group for the laxative-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Laxative</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.laxative" placeholder="">
    </div>
</div>

<!-- form group for the bladder Continent-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Bladder Continent</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.bladderContinent" placeholder="">
    </div>
</div>

<!-- form group for the dribbles-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Dribbles</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.dribbles" placeholder="">
    </div>
</div>

<!-- form group for the catheter-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Catheter</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.catheter" placeholder="">
    </div>
</div>

<!-- form group for the toileting Device-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Toileting Device</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.toiletingDevice" placeholder="">
    </div>
</div>
