
<!-- form group for the overall Nutrition-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Overall Nutrition</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.overallNutrition" placeholder="">
    </div>
</div>

<!-- form group for the poor Nutrition Intervention-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Poor Nutrition Intervention</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.poorNutritionIntervention" placeholder="">
    </div>
</div>

<!-- form group for the diabetic-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">diabetic</label>
    <div class="checkbox col-sm-9">
        <input type="checkbox" value="" ng-model="vm.formData.diabetic">
    </div>
</div>

<!-- form group for the diabetic Type-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Diabetic Type</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.diabeticType" placeholder="">
    </div>
</div>

<!-- form group for the regular Blood Sugar Monitoring-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Regular Blood Sugar Monitoring</label>
    <div class="checkbox col-sm-9">
        <input type="checkbox" value="" ng-model="vm.formData.regularBloodSugarMonitoring">
    </div>
</div>

<!-- form group for the bedtime Snack-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Bedtime Snack</label>
    <div class="checkbox col-sm-9">
        <input type="checkbox" value="" ng-model="vm.formData.bedtimeSnack">
    </div>
</div>

<!-- form group for the adaptive Equipment-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Adaptive Equipment</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.adaptiveEquipment" placeholder="">
    </div>
</div>

<!-- form group for the needs Food In Small Peices-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Needs Food In Small Peices</label>
    <div class="checkbox col-sm-9">
        <input type="checkbox" value="" ng-model="vm.formData.needsFoodInSmallPeices">
    </div>
</div>

<!-- form group for the type Of Diet-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Type of Diet</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.typeOfDiet" placeholder="">
    </div>
</div>

<!-- form group for the food Likes-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Food Likes</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.foodLikes" placeholder="">
    </div>
</div>

<!-- form group for the food Dislikes-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Food Dislikes</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.foodDislikes" placeholder="">
    </div>
</div>
