<h3>Pain</h3>

<!-- form group for the have Pain-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Has Pain</label>
    <div class="checkbox col-sm-9">
        <input type="checkbox" value="" ng-model="vm.formData.havePain">
    </div>
</div>

<!-- form group for the poor pain Location-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Pain Location</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.painLocation" placeholder="">
    </div>
</div>

<!-- form group for the poor pain Description-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Pain Description</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.painDescription" placeholder="">
    </div>
</div>

<!-- form group for the poor max Pain Time-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Time of Max Pain</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.maxPainTime" placeholder="">
    </div>
</div>

<!-- form group for the poor pain IncreasedBy-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Pain Increased By</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.painIncreasedBy" placeholder="">
    </div>
</div>

<!-- form group for the poor pain pain Decreased By-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Pain Decreased By</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.painDecreasedBy" placeholder="">
    </div>
</div>
