<h3>Sleep</h3>

<!-- form group for the usual Bedtime-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Usual Bedtime</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.usualBedtime" placeholder="">
    </div>
</div>

<!-- form group for the usual Arising Time-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Usual Arising Time</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.usualArisingTime" placeholder="">
    </div>
</div>

<!-- form group for the nap-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Nap</label>
    <div class="col-sm-9">
        <input type="checkbox" ng-model="vm.formData.nap" placeholder="">
    </div>
</div>

<!-- form group for the assistance To Bed-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Assistance to Bed</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.assistanceToBed" placeholder="">
    </div>
</div>

<!-- form group for the sleeps Through Night-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">sleeps Through Night</label>
    <div class="col-sm-9">
        <input type="checkbox" ng-model="vm.formData.sleepsThroughNight" placeholder="">
    </div>
</div>

<!-- form group for the sleep Disturbance-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Sleep Disturbance</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.sleepDisturbance" placeholder="">
    </div>
</div>
