<navigation></navigation>
<div class="container">
  <page-header content="vm.pageHeader"></page-header>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <label for="filter">Filter results</label>
      <input id="filter" type="text", name="filter", ng-model="textFilter">
      <a ng-click="vm.popupNewLocationForm()" class="btn btn-default pull-right new-location-btn">Add review</a>
      <div class="error">{{ vm.message }}</div>
      <div class="row list-group">
        <div class="col-xs-12 list-group-item" ng-repeat="location in vm.data.locations | filter : textFilter">
          <h4>
            <a href="locations/{{ location._id }}">{{ location.name }}</a>
            <small class="rating-stars" rating-stars rating="location.rating"></small>
            <span class="badge pull-right badge-default">{{ location.distance | formatDistance }}</span>
          </h4>
          <p class="address">{{ location.address }}</p>
          <p>
            <span class="label label-warning label-facility" ng-repeat="facility in location.facilities">
              {{ facility }}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <footer-generic></footer-generic>
</div>
