<!-- BOARD -->
<div id="board" ng-class="vm.board.settings.color+'-100-bg'" ui-sortable="vm.sortableListOptions"
     ng-model="vm.board.lists" layout="row">

    <!-- LIST -->
    <div class="list-wrapper" ng-repeat="list in vm.board.lists track by list.id">

        <div class="list md-whiteframe-1dp" layout="column">

            <!-- LIST HEADER -->
            <div class="list-header" layout="row" layout-align="space-between center">

                <div class="list-header-name">
                    <span editable-text="list.name">{{list.name}}</span>
                </div>

                <md-menu md-offset="0 48px" class="options list-header-option-button">

                    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Options"
                               translate translate-attr-aria-label="SB.OPTIONS">
                        <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                    </md-button>

                    <md-menu-content class="options-menu-content" width="4">
                        <md-menu-item>
                            <md-button ng-click="vm.removeList($event,list)" aria-label="Remove List"
                                       translate translate-attr-aria-label="SB.REMOVE_LIST">
                                <md-icon md-font-icon="icon-delete" md-menu-align-target></md-icon>
                                <span translate="SB.REMOVE_LIST">Remove List</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>

                </md-menu>

            </div>
            <!-- / LIST HEADER -->

            <!-- LIST CONTENT -->
            <div class="list-content" layout="column">

                <div class="list-cards" ui-sortable="vm.sortableCardOptions" ng-model="list.idCards" ms-scroll>

                    <!-- CARD -->
                    <div ng-if="cardId" class="list-card md-whiteframe-2dp"
                         ng-repeat="cardId in list.idCards | filter: vm.cardFilter track by $index"
                         ng-click="vm.openCardDialog($event, cardId)">

                        <!-- CARD COVER -->
                        <div ng-if="vm.board.settings.cardCoverImages && vm.board.cards.getById(cardId).idAttachmentCover"
                             class="list-card-cover">
                            <img ng-src="{{vm.board.cards.getById(cardId).attachments.getById(vm.board.cards.getById(cardId).idAttachmentCover).src}}">
                        </div>
                        <!-- / CARD COVER -->

                        <!-- CARD DETAILS -->
                        <div class="list-card-details">

                            <!-- CARD SORT HANDLE -->
                            <div class="list-card-sort-handle">
                                <md-icon md-font-icon="icon-cursor-move" class="icon s16"></md-icon>
                            </div>
                            <!-- /CARD SORT HANDLE -->

                            <!-- CARD LABELS -->
                            <div ng-if="vm.board.cards.getById(cardId).idLabels.length > 0" class="list-card-labels"
                                 layout="row" layout-wrap>
                                <span class="list-card-label"
                                      ng-class="'md-'+vm.board.labels.getById(labelId).color+'-bg'"
                                      ng-repeat="labelId in vm.board.cards.getById(cardId).idLabels">
                                    <md-tooltip>
                                        {{vm.board.labels.getById(labelId).name}}
                                    </md-tooltip>
                                </span>
                            </div>
                            <!-- / CARD LABELS -->

                            <!-- CARD NAME -->
                            <div class="list-card-name">{{vm.board.cards.getById(cardId).name}}</div>
                            <!-- / CARD NAME -->

                            <div ng-if="vm.board.cards.getById(cardId).submitDate || vm.board.cards.getById(cardId).resolutionTimeframe"
                                 class="list-card-badges" layout="row" layout-align="start center">

                                <!-- CARD submitDate -->
                                <span class="badge due-date"
                                      ng-class="{'overdue': vm.isOverdue(vm.board.cards.getById(cardId).submitDate)}"
                                      ng-if="vm.board.cards.getById(cardId).submitDate" layout="row"
                                      layout-align="start center">
                                    <i class="icon-clock s16"></i>
                                    <span>{{vm.board.cards.getById(cardId).submitDate | date:'mediumDate'}}</span>
                                </span>
                                <!-- / CARD submitDate -->

                                <!-- CARD CHECK ITEMS STATUS -->
                                <span ng-if="vm.board.cards.getById(cardId).resolutionTimeframe"
                                      class="badge check-items"
                                      ng-class="{'completed': vm.board.cards.getById(cardId).resolutionTimeframeChecked === vm.board.cards.getById(cardId).resolutionTimeframe}"
                                      layout="row" layout-align="start center">
                                    <i class="icon-checkbox-marked-circle s16"></i>
                                    <span>{{vm.board.cards.getById(cardId).resolutionTimeframe}}</span>
                                </span>
                                <!-- / CARD CHECK ITEMS STATUS -->

                            </div>

                            <!-- CARD MEMBERS -->
                            <div ng-if="vm.board.cards.getById(cardId).idMembers.length > 0" class="list-card-members"
                                 layout="row">

                                <div class="list-card-member"
                                     ng-repeat="memberId in vm.board.cards.getById(cardId).idMembers">

                                    <img class="list-card-member-avatar"
                                         ng-src="http://a3.mzstatic.com/us/r30/Purple6/v4/75/87/fe/7587fe05-83c5-4127-48ce-2a213151d321/icon175x175.png">

                                    <md-tooltip>
                                        <div class="name">{{ vm.board.members.getById(memberId).name}}</div>
                                    </md-tooltip>
                                </div>

                            </div>
                            <!-- / CARD MEMBERS -->

                        </div>
                        <!-- / CARD DETAILS -->

                        <!-- CARD FOOTER -->
                        <div class="list-card-footer" layout="row" layout-align="space-between center">

                            <div layout="row" layout-align="start center">

                              <md-button class="md-icon-button" ng-click="vm.openWordCloud(vm.board.cards.getById(cardId))" aria-label="Options"
                                         translate translate-attr-aria-label="SB.OPTIONS">
                                  <md-icon md-menu-origin md-font-icon="icon-dots-vertical"></md-icon>
                              </md-button>

                            </div>

                            <div layout="row" layout-align="end center">



                                <!-- CARD COMMENTS -->
                                <span class="list-card-footer-item" ng-if="vm.board.cards.getById(cardId).comments"
                                      layout="row" layout-align="start center">
                                    <i class="icon-comment s18"></i>
                                    <span class="value">{{vm.board.cards.getById(cardId).comments.length}}</span>
                                </span>
                                <!-- / CARD COMMENTS -->

                            </div>
                        </div>
                        <!-- CARD FOOTER -->
                    </div>
                    <!-- / CARD -->
                </div>
            </div>
            <!-- / LIST CONTENT -->

            <!-- NEW CARD BUTTON-->
            <div class="list-footer">
                <ms-sb-add-card ms-list-id="list.id"></ms-sb-add-card>
            </div>
            <!-- / NEW CARD BUTTON-->

        </div>
    </div>
    <!-- / LIST -->


</div>
<!-- / BOARD -->
