<h4>Inside Apartment</h4>

<!-- form group for the use Of Assistive Device-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Assistive Device</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.insideApartment.useOfAssistiveDevice" placeholder="">
    </div>
</div>

<!-- form group for the Assitance With Device-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Assitance with Device</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.insideApartment.assitanceWithDevice" placeholder="">
    </div>
</div>

<!-- form group for the special Ambulation Needs-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Special Ambulation Needs</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.insideApartment.specialAmbulationNeeds" placeholder="">
    </div>
</div>

<h4>Outside Apartment</h4>

<!-- form group for the use Of Assistive Device-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Assistive Device</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.outsideApartment.useOfAssistiveDevice" placeholder="">
    </div>
</div>

<!-- form group for the Assitance With Device-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Assitance with Device</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.outsideApartment.assitanceWithDevice" placeholder="">
    </div>
</div>

<!-- form group for the special Ambulation Needs-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Special Ambulation Needs</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.outsideApartment.specialAmbulationNeeds" placeholder="">
    </div>
</div>

<!-- form group for the transfers-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Transfers</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.transfers" placeholder="">
    </div>
</div>

<!-- form group for the fall Risk-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Fall Risk</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.fallRisk" placeholder="">
    </div>
</div>

<!-- form group for the bed Reposition-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Bed Reposition</label>
    <div class="checkbox col-sm-9">
        <input type="checkbox" value="" ng-model="vm.formData.bedReposition">
    </div>
</div>
