<h3>physical condition</h3>

<!-- form group for the height-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Height</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.height" placeholder="">
    </div>
</div>

<!-- form group for the skin Condition-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Skin Condition</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.skinCondition" placeholder="">
    </div>
</div>

<!-- form group for the wears Hearing Aid-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Wears Hearing Aid</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.wearsHearingAid" placeholder="">
    </div>
</div>

<!-- form group for the Hearing right Ear-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Hearing in Right Ear</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.hearing.rightEar" placeholder="">
    </div>
</div>

<!-- form group for the Hearing left Ear-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Hearing in Left Ear</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.hearing.leftEar" placeholder="">
    </div>
</div>

<!-- form group for the vision right Eye-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Vision in Right Eye</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.vision.rightEye" placeholder="">
    </div>
</div>

<!-- form group for the vision left Eye-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Vision in Left Eye</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.vision.leftEye" placeholder="">
    </div>
</div>

<!-- form group for the upper Denture Fit-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Upper Denture Fit</label>
    <div class="col-sm-9">
        <input type="checkbox" ng-model="vm.formData.teeth.upperDentureFit" placeholder="">
    </div>
</div>

<!-- form group for the upper Teeth-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Upper Teeth Status</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.teeth.upperTeeth" placeholder="">
    </div>
</div>

<!-- form group for the lower Denture Fit-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Lower Denture Fit</label>
    <div class="col-sm-9">
        <input type="checkbox" ng-model="vm.formData.teeth.lowerDentureFit" placeholder="">
    </div>
</div>

<!-- form group for the lower Teeth-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Lower Teeth Status</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.teeth.lowerTeeth" placeholder="">
    </div>
</div>

<!-- form group for the teeth Condition-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Teeth Condition</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.teethCondition" placeholder="">
    </div>
</div>
