<h3>psychosocial</h3>

<!-- form group for the psychosocial Status-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Psychosocial Status</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.psychosocialStatus" placeholder="">
    </div>
</div>

<!-- form group for the psychosocial Responsiveness-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Responsiveness</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.psychosocialResponsiveness" placeholder="">
    </div>
</div>

<!-- form group for the mood-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Mood</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.mood" placeholder="">
    </div>
</div>

<!-- form group for the comprehension-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Comprehension</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.comprehension" placeholder="">
    </div>
</div>

<!-- form group for the smokes-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Smokes</label>
    <div class="col-sm-9">
        <input type="checkbox" ng-model="vm.formData.personalHabits.smokes" placeholder="">
    </div>
</div>

<!-- form group for the alcohol-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Alcohol</label>
    <div class="col-sm-9">
        <input type="checkbox" ng-model="vm.formData.personalHabits.alcohol" placeholder="">
    </div>
</div>

<!-- form group for the other-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">other</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.personalHabits.other" placeholder="">
    </div>
</div>

<!-- form group for the general Activity Participation-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">General Activity Participation</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.generalActivityParticipation" placeholder="">
    </div>
</div>

<!-- form group for the dining Room Participation-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Dining Room Participation</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.diningRoomParticipation" placeholder="">
    </div>
</div>

<!-- form group for the bus Ride Participation-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Bus Ride Participation</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.busRideParticipation" placeholder="">
    </div>
</div>

<!-- form group for the fitness Class Participation-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Fitness Class Participation</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.fitnessClassParticipation" placeholder="">
    </div>
</div>

<!-- form group for the time In Room-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Time In Room</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.timeInRoom" placeholder="">
    </div>
</div>

<!-- form group for the prefered Activites-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Prefered Activites</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.preferedActivites" placeholder="">
    </div>
</div>

<!-- form group for the use Fitness Equipment Independently-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Use Fitness Equipment Independently</label>
    <div class="col-sm-9">
        <input type="checkbox" ng-model="vm.formData.useFitnessEquipmentIndependently" placeholder="">
    </div>
</div>

<!-- form group for the family Involvement-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Family Involvement</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.familyInvolvement" placeholder="">
    </div>
</div>
