<h3>Vitals</h3>

<!-- form group for the temperature-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Temperature</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.temperature" placeholder="">
    </div>
</div>

<!-- form group for the blood Pressure Systolic-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Blood Pressure Systolic</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.bloodPressureSystolic" placeholder="">
    </div>
</div>

<!-- form group for the blood Pressure Diastolic-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Blood Pressure Diastolic</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.bloodPressureDiastolic" placeholder="">
    </div>
</div>

<!-- form group for the oxygen Saturation-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Oxygen Saturation</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.oxygenSaturation" placeholder="">
    </div>
</div>

<!-- form group for the pulse-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Pulse</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.pulse" placeholder="">
    </div>
</div>

<!-- form group for the vitals Pain-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">Vitals Pain</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.vitalsPain" placeholder="">
    </div>
</div>

<!-- form group for the respiration-->
<div class="form-group">
    <label class="col-xs-10 col-sm-3 control-label">respiration</label>
    <div class="col-sm-9">
        <input class="form-control" ng-model="vm.formData.respiration" placeholder="">
    </div>
</div>
