<!-- CARD DIALOG -->
<md-dialog class="card-dialog" aria-label="Card Dialog" ng-cloak>

    <!-- DIALOG TOOLBAR -->
    <md-toolbar class="md-accent" ng-class="'md-'+vm.board.settings.color+'-bg'">
        <div class="md-toolbar-tools">

            <!-- DUE DATE -->
            <div class="due-date">
                <div ng-if="!vm.card.due" moment-picker="vm.card.due" format="x" min-view="year"
                     max-view="hour"
                     start-view="month">
                    <md-button class="md-icon-button" aria-label="Due date" translate
                               translate-attr-aria-label="SB.DUE_DATE"
                               ng-click="$mdOpenMenu($event)">
                        <md-icon md-font-icon="icon-calendar"></md-icon>
                    </md-button>
                </div>
            </div>
            <!-- / DUE DATE -->

            <!-- OPTIONS -->
            <md-menu md-offset="0 48px" class="options">
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Options"
                           translate translate-attr-aria-label="SB.OPTIONS">
                    <md-icon md-menu-origin md-font-icon="icon-dots-horizontal"></md-icon>
                </md-button>
                <md-menu-content class="options-menu-content" width="4">
                    <md-menu-item>
                        <md-button ng-click="vm.removeCard()" aria-label="Remove Card"
                                   translate translate-attr-aria-label="SB.REMOVE_CARD">
                            <md-icon md-font-icon="icon-delete" md-menu-align-target></md-icon>
                            <span translate="SB.REMOVE_CARD">Remove Card</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <!-- / OPTIONS -->

            <span flex></span>

            <!-- CLOSE DIALOG BUTTON -->
            <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close Dialog"
                       translate translate-attr-aria-label="SB.CLOSE_DIALOG">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
            <!-- / CLOSE DIALOG BUTTON -->

        </div>
    </md-toolbar>
    <!-- / DIALOG TOOLBAR -->

    <!-- DIALOG CONTENT -->
    <md-dialog-content ms-scroll>

        <div layout="row" layout-align="space-between start">

            <div layout="column" layout-align="start start">

                <!-- BREADCRUMB -->
                <div class="card-breadcrumb" layout="row" layout-align="start center">
                    <span>Responsible Party</span>
                    <i class="icon-menu-right"></i>
                    <span>{{vm.getCardList().name}}</span>
                </div>
                <!-- / BREADCRUMB -->

                <!-- CARD NAME -->




                <!-- / CARD NAME -->

            </div>

            <!-- DUE DATE -->
            <div ng-if="vm.card.due" class="due-date" layout="row" layout-align="start center">
                <div class="picker day-picker" moment-picker="vm.card.due" format="x" min-view="year" max-view="month"
                     start-view="month">
                    <div layout="row" layout-align="start center">
                        <i class="s18 icon icon-calendar"></i>
                        <span>{{vm.card.due | date:'mediumDate'}}</span>
                    </div>
                </div>

                <div class="picker hour-picker" moment-picker="vm.card.due" format="x" min-view="day" max-view="hour"
                     start-view="day">
                    <div layout="row" layout-align="start center">
                        <i class="s18 icon icon-clock"></i>
                        <span>{{vm.card.due | date:'shortTime'}}</span>
                    </div>
                </div>

            </div>
            <!-- / DUE DATE -->

        </div>

        <div class="sections">
      <div class="section">
        <md-input-container class="md-block">
            <label>Title</label>
            <input ng-model="vm.card.name" type="text" ng-blur="vm.updateIssue()" focus>
        </md-input-container>


        <!-- DESCRIPTION` -->
        <div class="description">
            <md-input-container class="md-block">
                <label translate="SB.DESCRIPTION">Description</label>
                <textarea ng-model="vm.card.description" columns="1" md-maxlength="150" rows="5"
                 ng-blur="vm.updateIssue()"></textarea>
            </md-input-container>
        </div>
        <!-- / DESCRIPTION -->

        <!-- resolutionTimeframe -->
        <md-input-container class="md-block">
            <md-select ng-model="vm.card.resolutionTimeframe" ng-change="vm.updateIssue()" placeholder="Time Frame">
              <md-option>Hours</md-option>
              <md-option>Days</md-option>
              <md-option>Weeks</md-option>
              <md-option>Months</md-option>
            </md-select>
        </md-input-container>

        <!-- resolutionTimeframe -->
        <md-input-container class="md-block">
            <md-select ng-model="vm.card.status" ng-change="vm.updateIssue()" placeholder="Card status">
              <md-option>Open</md-option>
              <md-option>Shelved</md-option>
              <md-option>Closed</md-option>
            </md-select>
        </md-input-container>


        <!-- SECTIONS -->





            <!-- COMMENTS SECTION -->
            <div class="section">
                <div class="comments">

                    <div class="section-header" layout="row" layout-align="start center">
                        <i class="icon-comment s18"></i>
                        <span class="section-title">Comments</span>
                    </div>

                    <div class="section-content">
                        <form name="cardCommentForm"
                              ng-submit="vm.addNewComment(vm.newCommentText); vm.newCommentText =''"
                              class="comment new-comment" layout="column" layout-align="start" no-validate>

                            <div layout="row">
                                <img class="comment-member-avatar" src="assets/images/avatars/profile.jpg">
                                <md-input-container flex md-no-float>
                                <textarea ms-scroll placeholder="Write a comment.."
                                          ng-model="vm.newCommentText" required
                                          translate translate-attr-placeholder="SB.WRITE_A_COMMENT"></textarea>
                                </md-input-container>
                            </div>

                            <div layout="row" layout-align="end center">
                                <md-button type="submit" class="md-raised md-accent"
                                           ng-disabled="cardCommentForm.$invalid || cardCommentForm.$pristine"
                                           aria-label="Add">
                                    <span translate="SB.ADD">Add</span>
                                </md-button>
                            </div>
                        </form>

                        <div class="comment" layout="row" ng-repeat="comment in vm.card.comments">
                            <img class="comment-member-avatar"
                                 ng-src="{{vm.board.members.getById(comment.idMember).avatar}}">

                            <div layout="column">
                                <div class="comment-member-name">
                                    {{comment.author}}
                                </div>
                                <div class="comment-bubble">{{comment.commentText}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / COMMENTS SECTION -->

            <!-- ACTIVITIES SECTION -->
            <div class="section">

                <div class="activities">

                    <div class="section-header" layout="row" layout-align="start center">
                        <i class="icon-format-list-bulleted s18"></i>
                        <span class="section-title">Update info</span>
                    </div>

                    <div class="section-content">
                        <div class="activity" layout="row" layout-align="start center"
                             ng-repeat="update in vm.card.updateInfo">

                            <div class="activity-member-name">{{ update.updateBy }}</div>
                            <div class="activity-message">{{ update.updateDate | date}}</div>

                            <h5 ng-repeat="f in update.updateField ">

                                <span>Field : {{ f.field }} |</span>
                                <span>Old value : {{ f.old }} |</span>
                                <span>New value : {{ f.new }} </span>
                              <!-- </span> -->
                            </h5>
                        </div>
                    </div>

                </div>
            </div>
            <!-- / ACTIVITIES SECTION -->

        </div>
        <!-- / SECTIONS -->

    </md-dialog-content>
    <!-- / DIALOG CONTENT -->

</md-dialog>
<!-- / CARD DIALOG -->
