<md-dialog class="compose-dialog" aria-label="Update">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title" >Add Issue</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
          <md-input-container class="md-block">
              <label>Title</label>
              <input ng-model="vm.form.title" type="text">
          </md-input-container>

          <md-input-container class="md-block">
              <label>Responsible Party</label>
              <input ng-model="vm.form.responsibleParty" type="text">
          </md-input-container>

          <md-input-container class="md-block">
              <md-select ng-model="vm.form.resolutionTimeframe" placeholder="Time Frame">
                <md-option>Hours</md-option>
                <md-option>Days</md-option>
                <md-option>Weeks</md-option>
                <md-option>Months</md-option>
              </md-select>
          </md-input-container>

          <md-input-container>
            <label>Description</label>
            <textarea ng-model="vm.form.description"></textarea>
          </md-input-container>


        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button ng-click="vm.addIssue()" class="send-button md-accent md-raised" aria-label="Add">
                    ADD ISSUE
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
