<div class="modal-content">
    <form id="updateResident" name="updateResident" role="form" ng-submit="vm.onSubmit()" class="form-horizontal">

        <!-- header of the modal.  defines title that is centered and X button to close -->
        <div class="modal-header">
            <button type="button" ng-click="vm.modal.cancel()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 id="myModalLabel" class="modal-title text-center">Update Resident</h4>
        </div>
        <div class="modal-body">
            <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>

            <!-- The main selection box -->
            <div class="btn-group" uib-dropdown>
              <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                {{vm.selectedForm }} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li  ng-repeat="f in vm.forms"><a ng-click="vm.selectForm(f)">{{f}}</a></li>
              </ul>
            </div>
            
            
            <div ng-switch on="vm.selectedForm">
            
                <!-- Administrative form -->
                <div ng-switch-when="Administrative">
                     <div ng-include src="'/contentTypes/residents/updateResidentModal/forms/administrative.view.html'"></div>
                </div>
                
                <div ng-switch-when="Allergy">
                     <div ng-include src="'/contentTypes/residents/updateResidentModal/forms/allergy.view.html'"></div>
                </div>
                
                <div ng-switch-when="Bathing">
                     <div ng-include src="'/contentTypes/residents/updateResidentModal/forms/bathing.view.html'"></div>
                </div>
                
                <div ng-switch-when="Continent">
                     <div ng-include src="'/contentTypes/residents/updateResidentModal/forms/continent.view.html'"></div>
                </div>
                
                <div ng-switch-when="Mobility">
                     <div ng-include src="'/contentTypes/residents/updateResidentModal/forms/mobility.view.html'"></div>
                </div>
                
                <div ng-switch-when="Nutrition">
                     <div ng-include src="'/contentTypes/residents/updateResidentModal/forms/nutrition.view.html'"></div>
                </div>
                
                <div ng-switch-when="Pain">
                     <div ng-include src="'/contentTypes/residents/updateResidentModal/forms/pain.view.html'"></div>
                </div>
                
                <div ng-switch-when="Physical Condition">
                     <div ng-include src="'/contentTypes/residents/updateResidentModal/forms/physicalCondition.view.html'"></div>
                </div>
                
                <div ng-switch-when="Psychosocial">
                     <div ng-include src="'/contentTypes/residents/updateResidentModal/forms/psychosocial.view.html'"></div>
                </div>
                
                <div ng-switch-when="Sleep">
                     <div ng-include src="'/contentTypes/residents/updateResidentModal/forms/sleep.view.html'"></div>
                </div>
                
                <div ng-switch-when="Vitals">
                     <div ng-include src="'/contentTypes/residents/updateResidentModal/forms/vitals.view.html'"></div>
                </div>
            
            
            </div>


        </div>

        <!-- footer that defines the cancel button and submit button  -->
        <div class="modal-footer">
            <button ng-click="vm.modal.cancel()" type="button" class="btn btn-warning">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit Updated Appointment</button>
        </div>
    </form>
</div>
