<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>

  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-primary review-panel">
            <div class="panel-heading">
              <a ng-show="vm.isLoggedIn" ng-click="vm.popupReviewForm()" class="btn btn-default pull-right">Add review</a>
              <a ng-hide="vm.isLoggedIn" href="/#/login?page={{ vm.currentPath }}" class="btn btn-default pull-right">Login to add review</a>
              <h2 class="panel-title">Customer reviews</h2>
            </div>
            <div class="panel-body review-container">
              <div class="row">
                <div class="review" ng-repeat="review in vm.data.location.reviews | orderBy:'createdOn':true">
                  <div class="well well-sm review-header">
                    <span class="rating" rating-stars rating="review.rating"></span>
                    <span class="reviewAuthor">{{ review.author }}</span>
                    <small class="reviewTimestamp pull-right">{{ review.createdOn | date : 'd MMMM yyyy' }}</small>
                  </div>
                  <div class="col-xs-12">
                    <p ng-bind-html="review.reviewText | addHtmlLineBreaks"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer-generic></footer-generic>
</div>
