<md-dialog class="event-detail-dialog" aria-label="New Message">
    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools">
            <span class="title">{{vm.calendarEvent.title}}</span>
            <span flex></span>
            <md-button class="edit-event-button md-fab md-warn"
                       ng-click="vm.editEvent(vm.calendarEvent)" aria-label="Edit event"
                       translate translate-attr-aria-label="CALENDAR.EDIT_EVENT">
                <md-icon md-font-icon="icon-pencil"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>

        <md-button ng-click="vm.exportAppointment()"
                   class="md-fab">
              <md-icon md-font-icon="icon-export"></md-icon>
              <md-tooltip><span>Export Appointment</span></md-tooltip>
        </md-button>

        <div class="event-details" layout="column">

            <div class="event-detail-row" layout="row" layout-align="start start">
                <md-icon md-font-icon="icon-clock"></md-icon>
                <div layout="column" flex>
                    <span class="h4">{{vm.calendarEvent.start.format('MMMM Do YYYY, h:mm a')}} </span>
                </div>
            </div>

            <div class="event-detail-row" layout="row" layout-align="start start">
                <md-icon md-font-icon="icon-panda"></md-icon>
                <div layout="column" flex>
                    <span class="h4"> Reason: {{ vm.calendarEvent.reason }}</span>
                </div>
            </div>

            <div class="event-detail-row" layout="row" layout-align="start start">
                <md-icon md-font-icon="icon-map-marker"></md-icon>
                <div layout="column" flex>
                    <span class="h4">Location: {{ vm.calendarEvent.locationName}}</span>
                    <span class="h4">Doctor: {{ vm.calendarEvent.locationDoctor}}</span>
                </div>
            </div>

            <div class="event-detail-row" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-account"></md-icon>
                <div layout="column" flex>
                    <!-- resident going -->
                      <span class="h4">Resident: {{ vm.calendarEvent.currentUser.firstName + " " + 
                                                    vm.calendarEvent.currentUser.lastName}}</span>
                    <span class="h4">Transportation: {{ vm.calendarEvent.transportation}}</span>
                </div>
            </div>

            <!-- Comments input -->
              <md-input-container>
                <label>Comments</label>
                <textarea ng-model="vm.formData.commentText"></textarea>


              <md-button ng-click="vm.submitComment()"  aria-label="Add Comment">
                  <md-icon md-font-icon="icon-comment"></md-icon>
                  <md-tooltip><span>Submit</span></md-tooltip>
              </md-button>
            </md-input-container>

            <!-- Comments list -->
            <md-list>
                    <md-list-item class="md-3-line" ng-repeat="item in vm.calendarEvent.appointmentComment">
                      <div class="md-list-item-text" layout="column">
                        <h4>{{ item.author}}</h4>
                        <p>{{ item.commentText }}</p>
                      </div>
                    </md-list-item>

            </md-list>

        </div>

    </md-dialog-content>
</md-dialog>
