<navigation></navigation>

<div class="container">
    <page-header content="vm.pageHeader"></page-header>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="printable">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <a ng-show="vm.isLoggedIn" ng-click="vm.popupUpdateResidentForm(vm.data.resident)" class="btn btn-info btn-xs pull-right">Update</a>
                                <h2 class="panel-title">resident Information</h2>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Name:
                                    <span class="pull-right">{{ vm.data.resident.firstName }} {{ vm.data.resident.middleName }} {{ vm.data.resident.lastName }}</span>
                                </p>
                                <p>
                                    Maiden Name:
                                    <span class="pull-right">{{ vm.data.resident.maidenName }}</span>
                                </p>
                                <p>
                                    Date of Birth:
                                    <span class="pull-right">{{ vm.data.resident.birthDate | date : 'h:mm a, MMMM d yyyy' }}</span>
                                </p>
                                <p>
                                    Admission Date:
                                    <span class="pull-right">{{ vm.data.resident.admissionDate | date : 'h:mm a, MMMM d yyyy' }}</span>
                                </p>
                                <p>
                                    Prefered Sex:
                                    <span class="pull-right">{{ vm.data.resident.sex }}</span>
                                </p>
                                <p>
                                    Building Status:
                                    <span class="pull-right">{{ vm.data.resident.buildingStatus }}</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">Submit Information</h2>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Submitted By:
                                    <span class="pull-right">{{ vm.data.resident.submitBy }}</span>
                                </p>
                                <p>
                                    Submitted Time:
                                    <span class="pull-right">{{ vm.data.resident.submitDate | date : 'h:mm a, MMMM d' }}</span>
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">Modification Information</h2>
                            </div>
                            <div class="panel-body">
                                <p ng-repeat="person in vm.data.resident.updateInfo">
                                    Modified by {{ person.updateBy }} on {{ person.updateDate | date : 'h:mm a, MMMM d' }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of printable -->
        </div>
    </div>
    <footer-generic></footer-generic>
</div>
