
<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <a ng-show="vm.isLoggedIn" ng-click="vm.popupNewResidentForm()" class="btn btn-primary pull-right">New</a>
      <a ng-show="vm.isLoggedIn" ng-click="vm.exportAppointments()" class="btn btn-success pull-right">Export</a>
      <label for="filter">Filter Results</label>
      <input id="filter" type="text", name="filter", ng-model="textFilter">
      <div class="error">{{ vm.message }}</div>
      <div class="col-xs-12 printable">
        <table class="table  table-hover table-condensed">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Addmission Date</th>
              <th>Birth Date</th>
              <th>Sex</th>
            </tr>
          </thead>
          <tbody ng-repeat="resident in vm.data.residents">
             <tr>
              <td><a href="residents/{{ resident._id }}">{{ resident.firstName }}</a></td>
               <td>{{ resident.lastName}}</td>
               <td>{{ resident.addmissionDate | date }}</td>
               <td>{{ resident.birthDate | date }}</td>
               <td>{{ resident.sex }}</td>
              <td class="non-printable"><a ng-show="vm.isLoggedIn" class="btn btn-info btn-xs" ng-click="vm.popupUpdateAppointmentForm(appointment)">Update</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <footer-generic></footer-generic>
</div>
