<md-dialog class="compose-dialog" aria-label="Update">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title" >Update resident - Continent</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>

          <md-input-container class="md-block">
              <label>Bowel Continent</label>
              <input ng-model="vm.form.bowelContinent" type="text">
          </md-input-container>

          <md-input-container class="md-block">
              <label>Constipated</label>
              <input ng-model="vm.form.constipated" type="text">
          </md-input-container>

          <md-input-container class="md-block">
              <label>Laxative</label>
              <input ng-model="vm.form.laxative" type="text">
          </md-input-container>

          <md-input-container class="md-block">
              <label>Bladder Continent</label>
              <input ng-model="vm.form.bladderContinent" type="text">
          </md-input-container>

          <md-input-container class="md-block">
              <label>Dribbles</label>
              <input ng-model="vm.form.dribbles" type="text">
          </md-input-container>

          <md-input-container class="md-block">
              <label>Catheter</label>
              <input ng-model="vm.form.catheter" type="text">
          </md-input-container>

          <md-input-container class="md-block">
              <label>Toileting Device</label>
              <input ng-model="vm.form.toiletingDevice" type="text">
          </md-input-container>


        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button ng-click="vm.updateResident()" class="send-button md-accent md-raised" aria-label="Add">
                    UPDATE
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
