<div ng-if="vm.selectedResident === null">
  <h3>Select a resident to view details </h3>
</div>

<div ng-if="vm.selectedResident !== null">
<div class="mail-header">
    <div class="subject" flex>{{vm.selectedCategory}}</div>
</div>

<div class="mail-content">
    <div class="info" layout="row" layout-align="space-between start">

        <div layout="column" layout-align="start start">
              <!-- Add details content here -->
              <h4>Food Allergies :
                <span ng-repeat="foodAllergy in vm.selectedResident.foodAllergies">
                  {{ foodAllergy }} <span ng-if="!$last">,</span>
                </span>
              </h4>

              <h4>Medication Allergies :
                <span ng-repeat="medAllergy in vm.selectedResident.medicationAllergies">
                  {{ medAllergy }} <span ng-if="!$last">,</span>
                </span>
              </h4>
        </div>

    </div>

</div>
</div>
