<div ng-if="vm.selectedResident === null">
  <h3>Select a resident to view details </h3>
</div>

<div ng-if="vm.selectedResident !== null">
<div class="mail-header">
    <div class="subject" flex>{{vm.selectedCategory}}</div>
</div>

<div class="mail-content">
    <div class="info" layout="row" layout-align="space-between start">

        <div layout="column" layout-align="start start">
              <!-- Add details content here -->
              <h4>Type of Bathing : {{ vm.selectedResident.typeOfBathing }}</h4>
              <h4>Time of Bathing : {{ vm.selectedResident.timeOfBathing }}</h4>
              <h4>Frequency of Bathing : {{ vm.selectedResident.frequencyOfBathing }}</h4>
              <h4>Acceptance of Bathing : {{ vm.selectedResident.acceptanceOfBathing }}</h4>
        </div>

    </div>

</div>
</div>
