<div ng-if="vm.selectedResident === null">
  <h3>Select a resident to view details </h3>
</div>

<div ng-if="vm.selectedResident !== null">
<div class="mail-header">
    <div class="subject" flex>{{vm.selectedCategory}}</div>
</div>

<div class="mail-content">
    <div class="info" layout="row" layout-align="space-between start">

        <div layout="column" layout-align="start start">
              <!-- Add details content here -->
              <h4>Height : {{ vm.selectedResident.height }}</h4>
              <h4>Skin Condition : {{ vm.selectedResident.skinCondition }}</h4>
              <h4>Wears Hearing Aid : {{ vm.selectedResident.wearsHearingAid }}</h4>
              <h4>Hearing in Right Ear : {{ vm.selectedResident.hearing.rightEar }}</h4>
              <h4>Hearing in Left Ear : {{ vm.selectedResident.hearing.leftEar }}</h4>
              <h4>Vision in Right Eye : {{ vm.selectedResident.vision.rightEye }}</h4>
              <h4>Vision in Left Eye : {{ vm.selectedResident.vision.leftEye }}</h4>
              <h4>Upper Denture Fit : {{ vm.selectedResident.teeth.upperDentureFit }}</h4>
              <h4>Upper Teeth Status : {{ vm.selectedResident.teeth.upperTeeth }}</h4>
              <h4>Lower Denture Fit : {{ vm.selectedResident.teeth.lowerDentureFit }}</h4>
              <h4>Lower Teeth Status : {{ vm.selectedResident.teeth.lowerTeeth }}</h4>
              <h4>Teeth Condition : {{ vm.selectedResident.teethCondition }}</h4>
        </div>

    </div>

</div>
</div>
