<div ng-if="vm.selectedResident === null">
  <h3>Select a resident to view details </h3>
</div>

<div ng-if="vm.selectedResident !== null">
<div class="mail-header">
    <div class="subject" flex>{{vm.selectedCategory}}</div>
</div>

<div class="mail-content">
    <div class="info" layout="row" layout-align="space-between start">

        <div layout="column" layout-align="start start">
              <!-- Add details content here -->
              <h4>Usual Bedtime : {{ vm.selectedResident.usualBedtime }}</h4>
              <h4>Usual Arising Time : {{ vm.selectedResident.usualArisingTime }}</h4>
              <h4>Nap : {{ vm.selectedResident.nap }}</h4>
              <h4>Assistance to Bed : {{ vm.selectedResident.assistanceToBed }}</h4>
              <h4>Sleeps Through Night : {{ vm.selectedResident.sleepsThroughNight }}</h4>
              <h4>Sleep Disturbance : {{ vm.selectedResident.sleepDisturbance }}</h4>
        </div>

    </div>

</div>
</div>
